
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;600&family=Poppins:wght@100;300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
  }
  .container_pd{
    padding: 15px 5rem;
  }
  .container_pdd{
    padding: 2rem;
    margin: 2rem 2rem; 
  }
  /***********HEADER*************/
  header .summer_sale{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #000000;
    color: #FAFAFA;
    font-weight: 300;
    font-size: 0.9rem;
    height: 2.5rem;
  }
  header .summer_sale small{
    font-weight: 600;
    border: none;
    background-color: inherit;
    color: #FAFAFA;
    text-decoration: underline;
  }
  /***********NAV***************/
  .your_shoppy{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .your_shoppy h3{
    font-weight: 600;
  }
  form {
    display: flex;
    width: 500px;
  }
  .your_shoppy form input {
    background-color: #F5F5F5;
    color: #000000;
    border: none;
    border-radius: 5px;
    flex: 1;
    height: 20px;
    padding: 1rem;
  }
  .your_shoppy form img{
    height: 20px;
    margin-top: 5px;
  }
  .your_shoppy .language{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
  /**********exclusive*********/
  .exclusive {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5rem;
  }
  .exclusive ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    list-style: none;
  }
  .exclusive ul .home{
    border-bottom: 1px solid grey;
  }
  .exclusive_navlist li a{
    justify-content: space-between;
    text-decoration: none;
    color: black;
    font-family: inherit;
    font-weight: 400;
  }
  /***********salescart*********/
  .salescart{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .salescart_img img{
    width: 30px;
    height: 30px;
  }
  /*************HER0-VOUCHER**********/
.hero_voucher{
  height: 450px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
  color: #FAFAFA;
}
.voucher_details_image{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.voucher_details{
  margin-left: 3rem;
}
.voucher_details .iphone{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1.2rem;
}
.iphone img{
  width: 50px;
  margin-bottom: 5px;
}
.iphone small{
  font-family: inherit;
  font-weight: 400;
  font-size: 1.5rem;
}
.voucher_details h1{
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 4rem;
  margin-top: 10px;
  line-height: 84px;
}
.shop{
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 1rem;
  gap: 8px;
}
.voucher_details .shop p{
  border-bottom: 1px solid #FAFAFA;
  font-size: 1.5rem;
}
.voucher_details .shop img{
  width: 1.5rem;
}
.voucher_image img{
  width: 600px;
  height: 349px;
  margin-right: 5rem;
}
.slide_img img{
  display: flex;
  align-items: center;
}
.frame{
  text-align: center;
  align-items: center;
  justify-content: center;
}
/*****************CLIENTS*************/
.clients-logo .logo{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img{
  width: 100px;
  background-color: #FDFFFE;
  border-radius: 5px;
}
/******************EXPLORE*************/
.explore{
  padding: 2rem 6rem;
}
.explore_details{
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.explore_details h2{
  font-weight: 700;
  font-size: 2.5rem;
}
.explore_details button{
  color: #5AC0C0;
  border: none;
  background: none;
  margin-top: 1rem;
  font-weight: 500;
}
.exploreFlex1{
  display: flex;
  gap: 1rem;
  border-radius: 5px;
}
.exploreFlex2{
  display: flex;
  gap: 1rem;
  border-radius: 5px;
}
.flex_text{
 position: absolute;
 margin-top: -50px;
}
.flex_text p{
  font-weight: 500;
  font-size: 1.3rem;
  color: #FFFFFF;
  margin-left: 80px;
}
/****************best_selling**************/
.best_selling{
  padding: 3rem 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.7rem;
}
.best_details{
  margin-bottom: 130px;
  width: 170px;
  height: 188px;
}
.best_details h3{
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 8px;
}
.best_details p{
  color: #1E1E1E80;
  font-weight: 500;
  font-size: 0.8rem;
  margin-bottom: 20px;
}
.best_btn{
  gap: 65rem;
}
.best_btn img{
  margin-bottom: -3px;
  width: 17px;
}
.best_images{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
 .best_btn button{
  border: none;
  border-radius: 6px;
  font-size: 0.8em;
  font-weight: 500;
  background-color: #C1DCDC;
  width: 115px;
  height: 35px;
}
.best_btn{
  gap: 2rem;
  size: 1px;
}
.best_images img{
  width: 278px;
  height: 337px;
  border-radius: 12px;
}
.best_images p{
  font-size: 0.9rem;
  font-weight: 500;
}
.best_images s{
  color: #B6B5B5;
}
.best_images span{
  color: #388E3C;
}
.bx{
  position: relative;
  background-color: #C1DCDC;
  width: 50px;
  height: 30px;
  top: 2.9px;
  left: 419px;
}
/***********Discount******/
.discount{
  padding: 2.5rem;
  margin: 6rem;
  box-sizing: border-box;
  border-radius: 8px;
  background: -webkit-linear-gradient(left,#C1DCDC 60%, #02A0A0 40%, #02A0A0);
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 10rem;
}
.discount_details h3{
 font-family: 'Inter', sans-serif;
 font-weight: 600;
 font-size: 1.5rem;
}
.discount_details small{
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}
.discount_button button{
  color: #FFFFFF;
  background-color: #1E1E1E;
  border-radius: 5px;
  padding: 7px 18px;
}
/************Featured**********/
.featured{
  box-sizing: border-box;
  padding: 2rem 6rem;
}
.featured_rectangle_text{
  display: flex;
  gap: 1rem;
  align-items: start;
  justify-content: start;
}
.featured_rectangle_text .rectangle {
  height: 30px;
  background: #02A0A0;
  width: 15px;
  border-radius: 4px;
}
.featured_header .small{
  color: #02A0A0;
  font-weight: 600;
}
.featured_header h4{
 font-family: 'Inter', sans-serif;
 font-weight: 600;
 font-size: 36px;
 margin-top: 15px;
}
.featured_flex{
  display: flex;
  gap: 2rem;
}
.featured_flex img{
  background-color: #000000;
  border-radius: 3px;
}
.featuredflex2 .flex_2 img{
  width: 100%;
  height: 280px;

}
.featuredflex3{
  display: flex;
  gap: 2rem;
}
.featuredflex3 img{
  padding: 30px;
  background-color: #242020;
  height: 199px;
  width: 250px;
}
.featured_flex .flextext{
  color: #FAFAFA;
  margin: 1.5rem;
  margin-top: -130px;
}
.featured_flex p{
  text-transform: capitalize; 
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
}
.featured_flex small{
  font-weight: 400;
  font-size: 10px;
}
.flextext .cta{
  background: transparent;
  color: #FFFFFF;
  border-bottom: 1px solid #FAFAFA; 
  margin-top: 11px;
  font-weight: 500;
  font-size: 13px;
}
/************Saved************/
.saved{
  background-color: #FFFFFF;
  padding: 4rem 5rem;
}
.border{
  border: 1px solid #DEE2E7;
  border-radius: 6px;
  padding: 0.3rem 1rem;
}
.saved_text p{
 font-weight: 600;
 margin-bottom: 15px;
}
.saved_flexbox {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 5px;
}
.saved_flexbox img {
  background-color: #EEEEEE;
  padding: 3rem;
  border-radius: 6.31px;
  width: 298px;
  height: 265px;
}
.flexitem img{
  margin-right: 1rem;
  color: #EEEEEE;
  width: 130px;
}
.flexitem1{
  margin-right: 10px;
  border-radius: 6.7px;
}
.saved_flexbox p{
  font-weight: 600;
}
.saved_flexbox small{
  color: #606060;
}
.cart_btn button {
  background-color: transparent;
  outline: none;
  border: 0.5px solid #C1DCDC;
  border-radius: 4px;
  padding: 6px 18px;
  color: #02A0A0;
}
/*******************************/
footer{
  background-color: #000000;
  color: #fafafa;
}
.footer_details{
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 20rem;
  padding: 2rem;
  margin-left: 4rem;
}
.footer_details img{
  width: 50px;
  height: 35px;
}
.flex_itemA{
  display: flex;
  gap: 1rem;
}
.flex_itemB{
  display: flex;
  gap: 1rem;
}
.hrline{
  border: 1px solid #FFFFFF;
  opacity: 40%;
}
/****footerlist****/
.footerlist{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  margin: 3rem 6rem;
}
.footerlist p{
  font-size: 16px;
  margin-bottom: 10px;
}
.footerlist li{
  font-size: 12px;
  line-height: 30px;
}
.social_links{
  margin-top: 12px;
}
.social_links_img img {
  width: 18px;
  height: 18px;
  margin: 5px 15px 0 0;
}
.footer_app p{
  margin: 5px 0 15px 0;
}
.footer_app .appfleximg{
  display: flex;
  gap: 8px;
  width: 190px;
  height: 70px
}
.appfleximg .flex2{
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 2px;
  width: 90px;
  height: 68px;
}
/******trailshoppy*****/
.trailshoppy{
  margin: 2rem 6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.trail_p_img p{
  font-size: 10px;
}
.trail_img{
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.trail_img img{
  width: 35px;
  height: 15px;
}
.trail_img s{
  color: #AB4E1A;
 margin-bottom: 45px;
}


/* Media Queries */
@media (max-width:500px) {
  /* html {
    width: 100vw;
  } */
body {
  width: 100%;
}
  .container_pd {
    padding: 15px 1.2rem;
}
.container_pdd{
  padding: 1rem;
  margin: 2rem 4rem; 
}
  header .summer_sale {
 flex-direction: column;
    gap: 0.2rem;
    font-size: 65%;
    height: 3rem;
}

.your_shoppy form {
display: none;
}

.exclusive {
  padding: 5px 1.2rem;
  display: none;
}

.your_shoppy form img {
display: none;}

.hero_voucher {
  height: auto;
}

.voucher_details_image {
flex-direction: column;
  gap: 2rem;
}

.voucher_image img {
  width: 450px;
  height: 300px;
}

.voucher_details {
  margin-left: 0rem;
}

.voucher_details h1 {
  font-size: 2.2rem;
  line-height: 1.5;
}

.iphone img {
  width: 40px;
height: auto;}

.clients-logo .logo {
 flex-wrap: wrap;
 padding: 0 1.5rem;
}

.explore {
  padding: 2rem 1.2rem;
}

.exploreFlex1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr)
}

.exploreFlex2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr)
}

.flexB{
  width: 400px;
  border-radius: 5px;
}

.flexC{
  width: 400px;
  border-radius: 5px;
}

.flex_text {
height: max-content;  margin-top: -50px;
}

.best_selling {
    padding: 1rem 1.2rem;
flex-direction: column;
    gap: 1.7rem;
}

.best_details {
    margin-bottom: 10px;
    width: 100%;
    height: auto;
}

.best_details p {
    font-size: 1rem;
    width: 100%;
    margin-bottom: 20px;
}

.best_images {
  width: 100%;
}

.best_images img {
  width: 100%;
  margin: auto;
}

.best_images p:first-of-type {
   margin-top: 14px;
}
.best_images p:last-of-type {
   margin-top: 9px;
}

.discount {
    padding: 1.2rem;
    margin: 1.5rem;
   flex-direction: column;
   display: flex;
    gap: 1rem;
}

.featured {
  padding: 2rem 1.2rem;
}

.featured_flex {
  display: grid;
  margin-top: 30px;
  grid-gap: 20px;
}

.featuredflex3 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
}

.featured_flex .flex_3,
.featured_flex .flex_4 {
  overflow: hidden;
}

.featuredflex3 img{
  width: 100%;
}

.saved {
  background-color: #FFFFFF;
  padding: 1.5rem 1.2rem;
}

.saved_flexbox img {
  width: 100%;
  height: auto;
}

.saved_flexbox {
flex-direction: column;
  gap: 5px;
}

.footer_details {
flex-direction: column;
  gap: 1rem;
  margin: 1rem 1.3rem;
}

.footerlist {
  grid-template-columns: repeat(1,1fr);
  margin: 1rem 1.3rem;
}

.trailshoppy {
  margin: 1rem 1.3rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
}

@media (max-width:768px) {

  body {
  width: 100%;
}
  .container_pd {
    padding: 10px 1.2rem;
}
.container_pdd{
  padding: 10px 1.2rem;
  margin: 0;
}

.your_shoppy form {
  width: 45%;
}

.exclusive {
  padding: 5px 1.2rem;
}

.exclusive ul {
    display: none;
}

.container_pdd {
    padding: 1rem;
    margin: 2rem 1.2rem;
}

.hero_voucher {
  height: 430px;
}

.voucher_image img {
  width: 310px;
  height: 200px;
  margin-right: 2px;
}

.voucher_details {
    margin-left: 3rem;
}

.iphone small {
    font-size: 0.7rem;
}

.voucher_details h1 {
    font-size: 1.6rem;
    margin-top: 10px;
    line-height: 1.5;
}

.voucher_details .shop p {
  font-size: 1rem;
}

.explore {
    padding: 2rem 1.2rem;
}

.exploreFlex1{
  flex-direction: column;
}
.exploreFlex2{
  flex-direction: column;
}

.best_selling {
    padding: 2rem 1.2rem;
    flex-direction: column;
}

.best_details {
    margin-bottom: 10px;
    width: 100%;
    height: auto;
}

.best_details p {
    font-size: 1rem;
    width: 100%;
    margin-bottom: 20px;
}

.best_images {
  display: grid;
}

.best_images img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.discount {
    padding: 1.2rem;
    margin: 1rem;
    gap: 2rem;
}

.discount_details h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1rem;
}

.discount_details small {
  font-size: 0.7rem;
}

button {
    font-size: 0.7em;
    width: 110px;
}

.featured_flex {
  flex-direction: column;
    gap: 5px;
}

.featuredflex3 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.featuredflex3 img {
  height: 300px;
  width: 100%;
}

.saved_flexbox {
  display: grid;
  grid-template-columns: repeat(1,1fr);
}

.saved_flexbox img {
  width: 100%;
  height: auto;
}

.footer_details {
    gap: 2rem;
    padding: 1.2rem;
    margin-left: 1rem;
}

.footer_details img {
    width: 50px;
    height: 35px;
    margin-top: 20px;
}

.footerlist {
  grid-template-columns: repeat(2,1fr);
  margin: 1rem 1.2rem;
}

.footerlist li{
  line-height: 1.3;
  margin-bottom: 30px;
}

.trailshoppy {
  margin: 1rem 1.2rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

}

@media (max-width:1024px) {

  header .summer_sale {
    font-size: 0.8rem;
}

  .container_pd {
    padding: 5px 2rem;
}

form {
  width: 450px;
}

.exclusive {
  padding: 5px 2rem;
}

.hero_voucher {
  height: 380px;
}

.voucher_details_image {
  gap: 1rem;
}

  .iphone img {
    width: 30px;
}

.iphone small {
    font-family: inherit;
    font-weight: 400;
    font-size: 0.9rem;
}

.voucher_details h1 {
    font-size: 2.2rem;
    line-height: 1.4;
}
  
.voucher_image img {
  width: 370px;
}

.voucher_details .shop p {
  font-size: 1.2rem;
}

.explore {
  padding: 3rem 2rem;
}

.explore_details h2 {
  font-weight: 700;
  font-size: 2rem;
}

.flexA{
  width: 500px;
}

.best_selling {
  padding: 3rem 2rem;;
  gap: 1rem;
}

.best_btn button {
  width: 105px;
}

.best_images {
  gap: 0.5rem;
}

.featured {
  padding: 2rem 2rem;
}

.featured_flex {
  gap: 1rem;
}

.featuredflex2 .flex_2 img {
  height: 290px;
  margin-bottom: 1rem;
}

.featuredflex3 {
  gap: 1rem;
  height: 60%;
}

.saved {
  padding: 3rem 2rem;
}


}

@media (max-width:1440px) {

  .hero_voucher {
     height: 500px; 
}

  .voucher_details_image {
    gap: 1rem;
}

.iphone img {
  width: 30px;
}

.featuredflex2 .flex_2 img {
  height: 290px;
  width: 100%;
  margin-bottom: 1rem;
}

.featuredflex3 {
  gap: 1rem;
}

}
/* Media Queries */
/**margin values=top,right,bottom,left/clockwise*/